blinker==1.8.2
click==8.0.1
Flask==2.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
greenlet==3.0.3
importlib_metadata==7.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
SQLAlchemy==1.4.18
typing_extensions==4.11.0
Werkzeug==2.0.1
zipp==3.19.0
Flask-WTF==0.15.1
Flask-Bcrypt==0.7.1