{% extends "base.html" %}
{% block content %}

    <h1>Add a new cocktail spec</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <form class="card bg-dark" method="POST" action="{{ url_for('add_cocktail') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="cocktail_name">Cocktail Name :</label>
                        <input type="text" class="form-control" id="cocktail_name" name="cocktail_name" required>
                    </div>
                    <div class="form-group">
                        <label for="prep_instructions">Cocktail description :</label>
                        <textarea class="form-control" id="description" rows="2" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cocktail_category">Category :</label>
                        <select class="form-control" id="cocktail_category" name="cocktail_category">
                            <option>Vodka</option>
                            <option>Whisky</option>
                            <option>Gin</option>
                            <option>Rum</option>
                            <option>Tequila</option>
                        </select> 
                    </div> 
                    <div class="form-group">
                        <label for="ingredients">Ingredients :</label>
                        <textarea class="form-control" id="ingredients" rows="3" name="ingredients" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prep_instructions">Preparation instructions :</label>
                        <textarea class="form-control" id="prep_instructions" rows="3" name="prep_instructions" required></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="image">Image :</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}