{% extends "base.html" %}
{% block content %}
<div class="contact-form-background">
  <div class="contact-form">
    <form id="emailjs">
      <h1>Contact us!</h1>
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="first_name"
        required
        class="text-input"
      >
      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="last_name"
        required
        class="text-input"
      >
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email_address"
        required
        class="text-input"
      >
      <label for="message">Message</label>
      <textarea
        rows="5"
        cols="80"
        id="message"
        class="text-input"
        required
      ></textarea>
      <input type="submit" value="Send Message" class="btn custom-btn">
    </form>
  </div>
</div>
<!--EmailJS script-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
  /*global emailjs: false*/
  (function(){
    emailjs.init("xmQzyoPHuUtXsXFl8");
  })();

  document.getElementById('emailjs').addEventListener('submit', function(event) {
    event.preventDefault();

    const serviceID = 'service_596k5n9';
    const templateID = 'mixology_master';
    const autoReplyTemplateID = 'respond_message';

    const templateParams = {
      first_name: document.getElementById('fname').value,
      last_name: document.getElementById('lname').value,
      email_address: document.getElementById('email').value,
      message: document.getElementById('message').value
    };

    // Send the main email
    emailjs.send(serviceID, templateID, templateParams)
      .then(function(response) {
        // Send the auto-reply email
        emailjs.send(serviceID, autoReplyTemplateID, {
          email_address: templateParams.email_address
        });

        // Redirect to the thank you page
        window.location.href = "{{ url_for('confirmation') }}";
      }, function(error) {
        alert('Failed to send the message. Please try again later.', error);
      });
  });
</script>
{% endblock %}
