{% extends "base.html" %}
{% block content %}

    <h1>Edit a cocktail</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <form class="card bg-dark" method="POST" action=""> 
                    <div class="form-group">
                        <label for="cocktail_name">Cocktail Name :</label>
                        <input type="text" class="form-control" id="cocktail_name" name="cocktail_name" value="{{ cocktail.cocktail_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Cocktail description :</label>
                        <textarea class="form-control" id="description" rows="2" name="description" value="{{ cocktail.description }}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cocktail_category">Category :</label>
                        <select class="form-control" id="cocktail_category" name="cocktail_category" value="{{ cocktail.cocktail_category }}">
                            <option>Vodka</option>
                            <option>Whisky</option>
                            <option>Gin</option>
                            <option>Rum</option>
                            <option>Tequila</option>
                        </select> 
                    </div> 
                    <div class="form-group">
                        <label for="ingredients">Ingredients :</label>
                        <textarea class="form-control" id="ingredients" rows="3" name="ingredients" value="{{ cocktail.ingredients }}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prep_instructions">Preparation instructions :</label>
                        <textarea class="form-control" id="prep_instructions" rows="3" name="prep_instructions" value="{{ cocktail.instructions }}" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit cocktail</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}