{% extends "base.html" %}
{% block content %}
    <div id="hero-image">
    </div>
    {% if current_user.is_authenticated %}
        <h1>Welcome back {{ current_user.username }} !</h1>

        <div class="row col-12 account-section">
            <a href="{{ url_for('dashboard', username=current_user.username) }}">Dashboard</a>
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">Log out</a>
        </div>
    {% else %}
        <h1>Welcome to the Mixology Master</h1>
        <div class="row col-12 account-section">
            <a href="{{ url_for('login') }}" class="btn btn-secondary">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Register</a>
        </div>
    {% endif %}

    <div id="introduction" class="text-center">
        <p>Looking for a cocktail recipe for a party night?</p>
        <p>Or maybe you have a custom spec you want to share with others?</p>
        <p>Mixology Master is a place for you!</p>
    </div>
    <div id="info-section" class="text-center">
        <p>Mixology Master is free to use platform.</p>
        <p>You can browser through recipes with no account!</p>
        <p>If you wish to share your own recipe, please create free account <a href="{{ url_for('register') }}">here.</a></p>
    </div>
{% endblock %}