{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the Mixology Master</h1>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
    <div id="introduction">
        <p>Looking for a cocktail recipe for a party night?</p>
        <p>Or maybe you have a custom spec you want to share with others?</p>
        <p>Mixology Master is a place for you!</p>
    </div>
    <div id="info-section">
        <p>Mixology Master is free to use platform.</p>
        <p>You can browser through recipes with no account!</p>
        <p>If you wish to share your own recipe, please create free account <a href="{{ url_for('register') }}">here.</a></p>
    </div>
{% endblock %}