{% extends "base.html" %}
{% block content %}

    <h1>Add a new cocktail spec</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <form class="card bg-dark" method="POST" action="{{ url_for('new_recipe') }}">
                    <div class="form-group">
                        <label for="coctail_name">Cocktail Name :</label>
                        <input type="email" class="form-control" id="coctail_name" name="coctail_name" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Category :</label>
                        <select class="form-control" id="category" name="category">
                        <option>Vodka</option>
                        <option>Whisky</option>
                        <option>Gin</option>
                        <option>Rum</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ingridients">Ingridients : </label>
                        <textarea class="form-control" id="ingridients" rows="3" name="ingridients" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prep_instructions">Preparation instructions: </label>
                        <textarea class="form-control" id="prep_instructions" rows="3" name="prep_instructions" required></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}