{% extends "base.html" %}
{% block content %}
    <h1>Recipes Page</h1>
    <div class="container">
        <div class="row">
            {% for cocktail in cocktails %}
            <div class="col-12">
                <div class="card bg-dark" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cocktail.cocktail_name }}</h5>
                        <p>{{ cocktail.cocktail_category }}</p>
                        <p>{{ cocktail.description}}</p>
                        <p> {{ cocktail.user_id }}</p>

                        {% if current_user.id == cocktail.user_id %}
                            <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail.cocktail_id) }}" class="btn">Delete</a>
                        
                        {% else %}
                            <a href="#">Read</a> 
                        {% endif %}   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('new_recipe') }}">Add new cocktail spec</a>
{% endblock %}