/*general css*/
body {
    font-family: 'Roboto', serif;
    background-color: #748D92;
    color: #FAFAFA;
}

h1 {
    color: #FAFAFA;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

/*home page section*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-img.jpeg") center bottom / cover no-repeat fixed;
}

.btn-bg {
    background-color: #2E3944;
    color: #FAFAFA;
}

#info-section {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

#introduction p, #info-section p { 
    font-size: 16px; 
    line-height: 1.5; 
}

#introduction a , #specs-link-section a { 
    color: #2E3944;
    text-decoration: none; 
}

#introduction a:hover , #specs-link-section a:hover { 
    text-decoration: underline; 
}

#devider {
    height: 400px;
    width: 100%;
    background: url("../images/devider.jpg") center center / cover no-repeat fixed;
}

#specs-link-section {
    padding-top: 1rem;
}

/*specs page*/

.card-title {
    text-transform: uppercase;
}

