/*general css*/
body {
    font-family: 'Roboto', serif;
    background-color: black;
    color:aliceblue;
}

h1 {
    color: blueviolet;
    text-align: center;
    padding-top: 2rem;
}

/*home page section*/

#account-section{
    float: right;
    margin-bottom: 1rem;
    display: block;
}